<div class="header-option">
  <span class="app-title">SUPINE</span>
  <div class="menu-container">
    <span>MEN</span>
    <span>WOMEN</span>
    <span>COLLECTIONS</span>
    <span>ACCESSORIES</span>
  </div>
</div>

<main>
  <div class="offers-container">
    <div class="offer-box box-padding">
      <img src="../../../assets/img/Rectangle 14.png" />
      <div class="info-box">
        <span>BADA BOOM BADA POW</span>
        <div class="size-clothing-box">
          <span>Size:</span>
          <span>M</span>
        </div>
        <div class="quantity-box">
          <span>Quantity:</span>
          <span>-</span>
          <span>1</span>
          <span>+</span>
        </div>
      </div>
      <div class="price-box">
        <span>$74.99</span>
      </div>
    </div>
    <div class="offer-box box-padding">
      <img src="../../../assets/img/Rectangle 15.png" />
      <div class="info-box">
        <span>YELLOW IN BLOOM</span>
        <div class="size-clothing-box">
          <span>Size:</span>
          <span>M</span>
        </div>
        <div class="quantity-box">
          <span>Quantity:</span>
          <span>-</span>
          <span>1</span>
          <span>+</span>
        </div>
      </div>
      <div class="price-box">
        <span>$89.99</span>
      </div>
    </div>
    <div class="offer-box box-padding">
      <img src="../../../assets/img/Rectangle 16.png" />
      <div class="info-box">
        <span>QUINOA DREAMS</span>
        <div class="size-clothing-box">
          <span>Size:</span>
          <span>M</span>
        </div>
        <div class="quantity-box">
          <span>Quantity:</span>
          <span>-</span>
          <span>1</span>
          <span>+</span>
        </div>
      </div>
      <div class="price-box">
        <span>$109.99</span>
      </div>
    </div>
    <div class="shop-more-box">
      <div class="content-shop-more-box">
        <span
          >Cart feels empty?
          <span class="shop-more-text"><b>Shop More</b></span></span
        >
      </div>
    </div>
  </div>

  <div class="checkout-container">
    <div class="basket-box">
      <div class="amount-text">
        Total Amount:<span class="price"><b>$274.97</b></span>
      </div>
      <div class="amount-text">
        Shiping fee:<span class="price"><b>NIL</b></span>
      </div>
      <div class="amount-text">
        Taxes:<span class="price"><b>$8.2</b></span>
      </div>
    </div>
    <div class="totaly-box">
      <span class="totaly-text"
        >TOTAL:<span class="totaly-price"><b>$283.17</b></span></span
      >
    </div>
    <span>Apply Coupon</span>
    <div class="coupon-box">
      <img src="../../../assets/img/Vector.png" />
      <span>%</span>
      <span>Enter coupon here</span>
    </div>
    <span>Select Payment Method</span>
    <div class="method-payment-box">
      <div class="image-box">
        <img src="../../../assets/img/selecionado.png" />
        <img class="card" src="../../../assets/img/Card.png" />
        <img
          class="naoselecionado-img"
          src="../../../assets/img/naoselecionado.png"
        />
        <img class="paypal-img" src="../../../assets/img/PAYPAL.png" />
      </div>
      <div class="payment-details-box">
        <span class="payment-detail-info">Payment Details</span>
      </div>
    </div>
    <div class="payment-box">
      <span>Pay $283.17</span>
    </div>
  </div>
</main>
