<div class="header-option">
  <span class="app-title">SUPINE</span>
  <div class="menu-container">
    <span>MEN</span>
    <span>WOMEN</span>
    <span>COLLECTIONS</span>
    <span>ACCESSORIES</span>
  </div>
</div>

<main>
  <div class="offers-container">
    <div class="offer-box">
      <img src="../../../assets/img/Rectangle 14.png" />
      <div class="info-box">
        <span>BADA BOOM BADA POW</span>
        <div class="size-clothing-box">
          <span>Size:</span>
          <span>M</span>
        </div>
        <div class="quantity-box">
          <span>Quantity:</span>
          <span>-</span>
          <span>1</span>
          <span>+</span>
        </div>
      </div>
      <div class="price-box">
        <span>$74.99</span>
      </div>
    </div>
    <div class="offer-box">
      <img src="../../../assets/img/Rectangle 14.png" />
      <div class="info-box">
        <span>BADA BOOM BADA POW</span>
        <div class="size-clothing-box">
          <span>Size:</span>
          <span>M</span>
        </div>
        <div class="quantity-box">
          <span>Quantity:</span>
          <span>-</span>
          <span>1</span>
          <span>+</span>
        </div>
      </div>
      <div class="price-box">
        <span>$74.99</span>
      </div>
    </div>
    <div class="offer-box">
      <img src="../../../assets/img/Rectangle 14.png" />
      <div class="info-box">
        <span>BADA BOOM BADA POW</span>
        <div class="size-clothing-box">
          <span>Size:</span>
          <span>M</span>
        </div>
        <div class="quantity-box">
          <span>Quantity:</span>
          <span>-</span>
          <span>1</span>
          <span>+</span>
        </div>
      </div>
      <div class="price-box">
        <span>$74.99</span>
      </div>
    </div>
  </div>
  <div class="offer-box"></div>
  <div class="offer-box"></div>
  <div class="shop-more-box"></div>]
  <div class="checkout-container">
    <div class="basket-box"></div>
    <div class="totaly-box"></div>
    <span>Apply Coupon</span>
    <div class="coupon-box"></div>
    <span>Select Payment Method</span>
    <div class="method-payment-box"></div>
    <div class="payment-box"></div>
  </div>
</main>
